{% extends "base.html" %}
{% load staticfiles %}

{% block body_block%}
<div class="jumbotron">
  <h1 class="display-3">The best electronic parts</h1>
  <p class="lead">Buy parts from us and discover that part selection is easier than you thought</p>
  <hr class="my-4">
  <p>Log in or sing up to start adding parts to your shopping cart</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Sing up</a>
    <a class="btn btn-success btn-lg" href="#" role="button">Log in</a>
  </p>
</div>
{% endblock %}
